body{
    background-color: aqua;
    color: blue;
    font-family:"Chakra Petch" , sans-serif
    margin: 0pk

}

  header{
    border-bottom: solid 4px rgb (rgb(0, 17, 255), 42,122,228)
    padding: 20px;
    font-size: 44px;
    color; blue (42, 122 228);
  }